<!DOCTYPE html>

<html>
    <head>
        <title>Blogz</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav>
            <a class="nav" href="/">home</a></li>
            <a class="nav" href="/blog">all posts</a></li>
            <a class="nav" href="/blog/newpost">new post</a></li>
            <a class="nav" id="login" href="/login">log in</a></li>
            <a class="nav" id="logout" href="/logout">log out</a></li>

        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
